.bd-notice {
    background-color: #00d1b2;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.bd-notice-body {
    align-items: center;
    display: flex;
    justify-content: center;
}

body, html {
    background-color: rgb(235, 238, 243);
    overflow-x: hidden;
}

.box {
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-cursore {
    cursor: default;
}

.box-active {
    background-color: #ffd400;
}

.box-mese {
    display: block;
    font-size: .95rem;
    font-weight: 400;
    padding: 10px 0 5px 0;
    border-bottom: #c1c1c1 1px solid;
}

.box-giorno {
    display: block;
    font-size: 150%;
    font-weight: bolder;
    margin: 5px 0 5px 0;
    position: relative;
    color: #2e2752;
}

.box-settimana {
    display: block;
    padding-bottom: 8px;
    font-size: 0.9rem;
}

.orario-classe td {
    text-align: center !important;
}

.rtvSel {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
}

.navbar-item img {
    max-height: 2.5rem !important;
}

.lezione {
    padding: .1rem .5rem;
    border: solid 1px gray;
    border-radius: 6px;
    margin-bottom: .5rem;
}